* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000101;
}

:root {
    --zm-header: {
        color: #000101
    }

    --zm-sharescreen: {
        color: #000101;
    }

    --zm-icon : {
        color: #fefffe;
    }

    --zm-danger: {
        color: #f80a11;
    }

    --zm-footer: {
        color: #4a4a4a;
    }

 --zm-speaker: {
        color: #232223
    }
}


/* .debug{
    width: 100%;
    height: 200px;
    background-color: rgb(236, 134, 1);
}
 */


    

.site_footer {
    width: 100vw;
    height: 70px;
    margin: 0 auto;
    background-color: #000101;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    

}

.right_menu{width: 130px;
            height: 20px;
            padding-top: 1rem;
            padding-right: 0.1rem;}

.right_menu > span {
    color: white;
    background-color: gray;

}

.right_menu > i {
    background-color: grey;
    font-size: 15px;
}

.container{
    width: 1770px;
    height: 800px;
    margin: 0 auto;
    background-color: blue;
}

.row{
    width:100% ;
    height: 90%;
    background-color: crimson;
    
}

.col{width: 50%;
    height: 200PX;
    
    

    }